
@font-face { font-family: 'OpenSans-Regular';
    src: url('../fonts/OpenSans-Regular.ttf') format('truetype'); }
    

@font-face { font-family: 'OpenSans-Light';
        src: url('../fonts/OpenSans-Light.ttf') format('truetype'); }


@font-face { font-family: 'Quicksand-Bold';
            src: url('../fonts/Quicksand-Bold.ttf') format('truetype'); }

@font-face { font-family: 'Quicksand-Light';
                src: url('../fonts/Quicksand-Light.ttf') format('truetype'); }

@font-face { font-family: 'Quicksand-Regular';
                    src: url('../fonts/Quicksand-Light.ttf') format('truetype'); }


body {
    background: #E2E4E6; 
    margin: 0px;
    font-family: 'Quicksand-Regular'
   
}





                